<h1>Welcome to the Job Seeker Application</h1>
<p></p>
We currently have <%= @num_sources %> sources.
<br /> <br />
<%= link_to 'Search from Sources', '/jobs/sources' %> <BR />
<%= link_to 'Manage Sources', jobs_url %>